.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #f7f0ec;
  height: 50px;

  align-items: center;

  &--cart {
    cursor: pointer;
    background: #b5b4b7;
  }

  &--logo {
    background: #e1dadd;
  }

  &--menu {
    background: #dbe1c4;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
