@import "../../styles/index";

.Category {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: $route-top-padding;

  @include button-default();

  &-container {
    display: flex;
    flex-wrap: wrap;
  }
}
