@import "../../styles/index";

.Cart {

  padding-top: $route-top-padding;
  margin-left:50px;
  margin-right:50px;

  &--container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: inherit;
    height: 100%;

    &--products {
      height:100%;
      overflow: scroll;

      b {
        display: block;
        margin-top:50px;
        margin-bottom: 50px;
      }
    }

    &--total-price {
      @include button-default();
      display: flex;
      padding: 4px;
      border-top: 1px solid gray;
      justify-content: space-between;

    }
  }

  &--bottom {
    margin-bottom: 12px;
  }
}
