.CartPopup {
  position: fixed;
  width: 300px;
  height: 300px;
  border: 1px solid blue;
  right: 0;
  background: #ffd5f2;
  top: 50px; //SAME AS HEADER HEIGHT
  &--container {
    border: 1px solid blue;
   min-height: 250px;
  }

  &--bottom {
    border: 1px solid blue;

  }
}
