@import "../../styles/index";

.CartPopup {
  position: fixed;
  width: 400px;
  height: 350px;
  right: 15px;
  background: white;
  top: 51px; //SAME AS HEADER HEIGHT+1px
  box-shadow: $common-box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: inherit;
    height: 100%;

    &--products {
      height: 270px;
      overflow: scroll;
    }

    &--total-price {
      display: flex;
      padding: 4px;
      border-top: 1px solid gray;
      justify-content: space-between;

    }
  }

  &--bottom {
    margin-bottom: 12px;

    @include button-default();

    @include link-default();
  }
}
